/** @format */

.heroSectionContainer {
  background-image: url("/heroimage.jpg");
  background-size: cover;
  background-position: center;
}

.navbarContainer {
  background-color: rgba(0, 0, 0, 0.5);
}
